$primary-color: rgb(31, 31, 31);
$accent-color: rgb(83,193, 222);

$background-color: rgb(31, 31, 31);
$background-darker: rgb(24, 24, 24);
$border-color: rgb(45, 45, 45);

$linear-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$linear-arrow-right: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$linear-arrow-left: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);


$breakpoint-desktop: 769px;

$wmin: 375px;
$wmax: 768px;