.skills-container {
    position: relative;
    right: 10%;
    opacity: 0;
    background-color: rgb(21, 21, 21);
    color: white;
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
    padding:  20px ;
    box-shadow: 5px 5px 10px 1px #0c0c0c;
    transform: translate(-200%);
    animation: swipe 0.8s 0.4s ease forwards ;
    margin-bottom: 40px;
    i {
        color: white;
    }
    @media screen and (max-width:1024px) {
        margin: auto;
        width: 60%;
    }
    @media screen and (max-width:768px) {
        width: 80%;
        right: 5%;
    }
    @media screen and (max-width:500px) {
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
            margin-top: 0;
        }

    }


    h1{
        margin-top: 0;
        color: $accent-color;
    }
    .skills{
        padding: 0;
    }
    li{ 
        filter: blur(4px);
        opacity: 0;
        position: relative;
        margin-bottom: 15px;
        list-style: none;
        padding-left: 10px;
        border-left:3px solid $accent-color ;
        animation: fade-in 0.8s 0.1s ease forwards ;
        &:nth-last-child(1){
            margin-bottom: 0px;
        }
        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            background: rgb(21, 21, 21);
            animation: showRight 1s 0.1s ease forwards;
        }
        @for $i from 2 through 18 {
            &:nth-child(#{$i}n)::before{
                animation-delay: #{$i * 0.1}s          ;
            }
            &:nth-child(#{$i}n){
                animation-delay: #{$i * 0.1}s
            }
        }
    }
}