#carrousel-container {
    display: flex;
    position: relative;
    width: 768px;
    height: 432px;
    overflow: hidden;
    @media screen and (max-width:1024px) {
        width: 640px;
        height: 360px;
    }
    @media screen and (max-width:674px) {
        width: 384px;
        height: 216px;
    }
}

.slider {
    @include fullscreen;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    @include bradius-large;
    opacity: 0;
    
; 
    
    @media screen and (min-width: $breakpoint-desktop) {
        
        @include bradius-small;
    }

    & img {
        @include fullscreen;
        // object-fit: cover;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        mix-blend-mode: normal;
        @include bradius-small;

        @media screen and (min-width: $breakpoint-desktop) {
            @include bradius-large;
        }
    }

    &__number {
        display: none;

        @media screen and (min-width: $breakpoint-desktop) {
            display: block;
            position: absolute;
            @include font(18px, 500);
            color: $tertiary-color;
            left: 48%;
            top: 90%;
        }
    }
}

.active-anim {
    opacity: 1;
}

.rightArrow {
    display: flex;
    position: absolute;
    top: 45%;
    right: 10px;
    width: 36px;
    height: 60px;
    z-index: 10;
    @media screen and (max-width:1024px) {
        width: 24px;
        height: 40px;
    }
}

.leftArrow {
    display: flex;
    position: absolute;
    width: 36px;
    height: 60px;
    top: 45%;
    left: 10px;
    z-index: 11;
    @media screen and (max-width:1024px) {
        width: 24px;
        height: 40px;
    }
}

.leftArrowBox{
    cursor: pointer;
    border-radius: 25px 0 0 25px;
    position: absolute;
    left: 0;
    height: 100%;
    width: 70px;
    z-index: 10;
    background: $linear-arrow-left;
    @media screen and (max-width:1024px) {
        border-radius: 10px 0 0 10px;
    }
}

.rightArrowBox{
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 70px;
    z-index: 10;
    background: $linear-arrow-right;
    @media screen and (max-width:1024px) {
        border-radius: 0 10px 10px 0 ;
    }
}