nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 50px 0 20px;
    color: white;
    background-color: rgb(24, 24, 24);
    border-bottom: 2px solid rgb(45, 45, 45);
    box-sizing: border-box;
    .logo-nav-link{
        text-decoration: none;
        color: white;
    }
    .nav_links{
        display: flex;
        height: 100%;
        .nav_link{
            font-weight: bold;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: white;
            text-decoration: none;
            @media screen and (max-width:768px) { 
                width: 100px;
            }
            @media screen and (max-width: 500px) { 
                    display: none;     
                    width: 200px;
                    height: 10%;
            }
        }
        .nav_link-active{
            @media screen and (max-width: 500px) { 
                display: flex;
        }
        }
        .active {
            color:$accent-color;
            background-color: rgb(31, 31, 31);
            // text-decoration: underline;
            border-bottom: 2px solid rgb(31, 31, 31);
            border-left: 2px solid rgb(45, 45, 45);
            border-right: 2px solid rgb(45, 45, 45);
            @media screen and (max-width:768px) { 
                &:last-child{
                    border-right: 0;
                }
            }
            @media screen and (max-width: 500px) { 
                background-color: transparent;
                border: none;
        }
        }
    }
    @media screen and (max-width: 500px){
        .nav_links-active{
            position: absolute;
            right: 0;
            margin-top: 10vh;
            top: 0;
            flex-direction: column;
            align-items: center;
            z-index: 3;
            width: 100%;
            height: 100vh;
            transition: .4s;
        }
    }
    @media screen and (max-width:768px) { 
        padding-right: 0;
    } 
}

.logo{
    position: relative;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24);
    animation: showRight 1s ease forwards ;
    animation-delay: .4s;
}

.button_class {
    display: none;
    @media screen and (max-width: 500px) {
        position: sticky;
        margin-right: 20px;
        background: transparent;
        border: none;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 4;
        height: 40px;
        width: 40px;
        left: 100%;
    }
}


.background_class {
    display: none;
    opacity: 0;
    transition: 0.4s;
}
@media screen and (max-width: 500px){
.background_class-active{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 1;
    transition: 0.4s;
    }
}

.burger-bar {
    width: 40px;
    height: 5px;
    background-color: $accent-color;
    border-radius: 5px;
}

.burger-bar.clicked{
    &:nth-child(1){
        transform: rotate(45deg) translate(9px, 12.5px);
        transition: ease-out 0.5s;
    }
    &:nth-child(2){
        transform: scale(0.1);
        transition: ease-out 0.5s;
    }
    &:nth-child(3){
        transform: rotate(135deg) translate(-5px, 10px);
        transition: ease-out 0.5s;
    }
}

.burger-bar.unclicked{
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
