.languages-container {
    position: relative;
    right: 10%;
    width: 40%;
    opacity: 0;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    padding: 20px;
    border-top: 1px solid $accent-color;
    border-left: 1px solid $accent-color;
    box-shadow: 5px 5px 10px 1px #0c0c0c;
    color: white;
    transform: translate(-200%);
    animation: swipe 0.8s 0.2s ease forwards;
    i{
        color: white;
        font-weight: 400;
    }
    
    @media screen and (max-width:1024px) {
        margin: auto;
        width: 60%;
    }
    @media screen and (max-width:768px) {
        width: 80%;
        right: 5%;
    }
    @media screen and (max-width:500px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0;
        .languages-list{
            justify-content: center;
        } 
    }
    h1 {
        margin-top: 0;
        color: $accent-color;
    }
    .languages-list{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        li {
            margin-right: 20px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            &:nth-last-child(1){
                margin-bottom: 0;
            }
            .logos {
                display: flex;
                justify-content: center;
                width: 50px;
                height: 50px;
            }
            .mysql, .nodejs{
                background-color: white;
                border-radius: 50%;
                padding: 3px;
                box-sizing: border-box;
            }
            img {
                width: 40px;
            }
            .scale {
                position: relative;
                display: flex;
                width: 100px;
                justify-content: space-between;
                margin-left: 20px;
                overflow: hidden;
                &::before{
                    position: absolute;
                    content: '';
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    background: rgb(21, 21, 21);
                    border-radius: 10px;
                    animation: scale-load 0.8s 1s forwards;
                }
                div {
                    position: relative;
                    width: 15px;
                    background-color: $accent-color;
                    height: 5px;
                    border-radius: 10px;
                    
                    }
                }
            .foor{
                div:nth-last-child(-n+1){
                    background-color: rgb(45, 45, 45);
                }
            }
            
            .three{
                div:nth-last-child(-n+2){
                    background-color: rgb(45, 45, 45);
                }
            }
            
        }
    }
}