.about-container {
    opacity: 0;
    width: 40%;
    position: relative;
    right: -10%;
    background-color: $background-darker;
    border-top: 1px solid $accent-color;
    border-left: 1px solid $accent-color;
    @include bradius-small;
    padding: 20px;
    color: white;
    box-shadow: 5px 5px 10px 1px #0c0c0c;
    transition: .5s;
    transform: translate(200%);
    animation: swipe 0.8s 0.1s ease forwards ;
    i {
        color: white;
        font-weight: 400;
    }
    @media screen and (max-width:1024px) {
        margin: 10vh auto 0;
        width: 60%;
    }
    @media screen and (max-width:768px) {
        right: -5%;
        width: 80%;
    }
    @media screen and (max-width:$breakpoint-mobile-small) {
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-top: 0;
        }
    }
    h2{
        color: $accent-color;
    }
    h1{
        margin-top: 0;
        color: $accent-color
    }
    p{  
        filter: blur(4px);
        opacity: 0;
        position: relative;
        animation: fade-in 0.8s 0.4s ease forwards ;
        margin-bottom: 0;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: $background-darker;
            animation: showRight 1s 0.7s ease forwards ;
        }
        span i{
            font-size: 18px;
            color: $accent-color;
        }
        a{
            color: white;
        }
        @media screen and (max-width: $breakpoint-mobile-small) {
            margin-bottom: 16px;
        }
    }
}

.link-cv-download {
    height: 50px;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20px;
    width: 150px;
    background: $background-darker;
    border: 2px solid $accent-color;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 19px;
    color: $accent-color;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    @media screen and (max-width: $breakpoint-mobile-small) {
        bottom: 0;
        left: 0;
        position: relative;
    }
    &:hover{
        color: $background-darker;
        &::before{
            width: 100%;
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $accent-color;
        z-index: -1;
        transition: .5s;
    }
}
